{% extends "base.html" %}
{% block main %}
    <h2>Lista de Autores</h2>
    <table class="tabela-listagem">
      <thead>
        <tr><th>Nome</th><th>Email</th><th>Ano de Nascimento</th><th>Detalhes</th></tr>
      </thead>
      <tbody>
        {% for autor in autores %}
          <tr>
            <td><a href="{% url 'livros:detalhesAutor' autor.id %}">{{ autor.nome }}</a></td>
            <td>{{ autor.email }}</td>
            <td>{{ autor.ano_nascimento }}</td>
            <td><a href="{% url 'livros:detalhesAutor' autor.id %}">Detalhes</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock main %}